<a href="https://colab.research.google.com/github/dijkstra001/py-for-data/blob/main/py_for_data_case04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Utilização de Python para Análise de Dados: Caso prático - 04**

---

O conteúdo apresentado a seguir tem como objetivo criar cenários práticos e de uso geral onde a linguagem Python pode nos auxiliar de forma rápida e simples na análise de dados.

Esse material tem como objetivo ensinar algumas práticas para facilitar a análise de dados, não focando em técnicas complexas e de uso exclusivo para determinada situação.

O conteúdo tem como base o Livro **Python para Análise de Dados** (Wes McKinney, NOVATEC) e **Data Science do Zero** (Joel Grus, O'Reilly).

### **Realizando operações com as funções map, filter e reduce:**

Map, filter e reduce fazem parte dos métodos que compreendem a **Programação funcional**. A programação funcional é aquela que trata os comandos como funções matemáticas, tendo como um dos seus pilares a **imutabilidade**.

Isso significa que, passando os mesmos argumentos para esses comandos, os resultados sempre serão os mesmos, evitando, dessa forma, resultados indesejados.

De forma resumida, podemos dizer que:

**a) MAP**: a função Map realiza o mapeamento de um conjunto de dados, retornando uma lista com os objetos mapeados de acordo com o método informado, sem alterar a lista original.

**b) FILTER**: a função Filter retorna uma lista de elementos de acordo com o resultado da expressão informada.

**c) REDUCE**: a função Reduce atua como uma função de agregação. Com ela, podemos retornar um único elemento de um conjunto de elementos, de acordo com o método de agregação desejado.

In [1]:
from statistics import mean
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/py-for-data/datasets/case04_dataset.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **Conjunto de dados:**

Nosso conjunto de dados consiste em valores de ações da bolsa de valores NASDAQ, extraídas em 18/06/2021. Como ainda não abordamos extração de dados via web, os valores estarão nesse [arquivo](https://drive.google.com/file/d/1M9Y7SUgCxldQXfg5R73O7owtzRnCqDbR/view?usp=sharing).

### **Realizando o processo de análise dos dados**:###

Antes de iniciarmos as aplicações das funções map, filter e reduce, precisamos conhecer nossos dados e identificar se há necessidade de tratamentos. Após os tratamentos, podemos identificar o que podemos transformar com eles, gerando novos dados a partir daqueles que já temos.


**Obs**: Vamos utilizar um novo modelo de conjunto de dados. O formato csv. Ele é muito utilizado na área de ciência de dados e a biblioteca Pandas já tem uma função para trabalhar com esse tipo de informação.

In [2]:
dataset = pd.read_csv(path, header = 0)
dataset.head(10)

                      Nome       Min       Max   Data
0      Activision Blizzard     91,49     93,37  18/06
1                    Adobe    565,59       570  18/06
2                      ADP     192,9    196,18  18/06
3                  Alexion    180,69    181,74  18/06
4                    Align    601,64    617,11  18/06
5               Alphabet A  2.402,22  2.432,06  18/06
6               Alphabet C  2.511,35  2.527,78  18/06
7               Amazon.com  3.486,90  3.507,00  18/06
8                      AMD     84,65     85,77  18/06
9  American Electric Power     82,35     84,28  18/06

In [ ]:
# Criando uma coluna com o valor médio das ações:
# Vamos adicionar uma nova coluna (Media) realizando a média entre o valor mínimo e máximo de cada ação:

# utilizando a função Map:

**Pronto!** Com mais essa prática, conseguimos aplicar um pouco mais dos conhecimentos de análise de dados em Python. Com o uso de dicionários, conseguimos mapear nossos dados de forma mais simples, além de possibilitar operações com outros tipos de dados (como listas e sets).